<% if rodauth.logged_in? %>
  <h1>You are logged in as <%= Account.with_pk!(rodauth.session_value).email %></h1>
  <% if rodauth.logged_in_via_remember_key? %>
    <p>You were automatically logged in via a remember token.</p>
  <% end %>
  <% if rodauth.otp_authenticated? %>
    <p>You have logged in using two factor authentication.</p>
  <% elsif rodauth.has_otp? %>
    <p>You have authenticated via password, but not logged in using two factor authentication.</p>
  <% end %>

  <ul>
    <li><a href="/change-login">Change Login</a></li>
    <li><a href="/change-password">Change Password</a></li>
    <li><a href="/close-account">Close Account</a></li>
    <li><a href="/remember">Change Remember Settings</a></li>
    <% if rodauth.logged_in_via_remember_key? %>
      <li><a href="/remember?confirm=t">Confirm Password</a></li>
    <% end %>
    <% if rodauth.has_otp? %>
      <% if rodauth.otp_authenticated? %>
        <li><a href="/otp/disable">Disable Two-Factor Authentication</a></li>
        <li><a href="/otp/recovery-codes">View Two Factor Authentication Recovery Codes</a></li>
        <% if rodauth.otp_sms_setup? %>
          <li><a href="/otp/sms-disable">Disable Backup SMS Authentication</a></li>
        <% else %>
          <li><a href="/otp/sms-setup">Setup Backup SMS Authentication</a></li>
        <% end %>
      <% else %>
        <li><a href="/otp">Login via Two-Factor Authentication</a></li>
      <% end %>
    <% else %>
      <li><a href="/otp/setup">Setup Two-Factor Authentication</a></li>
    <% end %>
  </ul>

  <form action="/single-session" method="POST">
    <%== csrf_tag %>
    <input type="submit" class="btn btn-primary" name="<%= session['single_session_check'] ? 'd' : 'e' %>" value="<%= session['single_session_check'] ? 'Disable' : 'Enable' %> Single Session" />
  </form>

  <p>Last Login: <%= rodauth.last_account_login_at %>.</p>
  <p>Last Activity: <%= rodauth.last_account_activity_at %>.</p>

<% else %>
  <h1>Overview</h1>

  <p>This is the demo site for <a href="https://github.com/jeremyevans/rodauth">Rodauth</a>.  Rodauth is an authentication and account management framework for rack applications, with the following design goals:</p>

  <ol>
    <li>Security: Ship in a maximum security by default configuration</li>
    <li>Simplicity: Allow for easy configuration via a DSL</li>
    <li>Flexibility: Allow for easy overriding of any part of the framework</li>
  </ol>

  <p>It's easiest to get started by going to the <a href="/login">login page</a>.</p>

  <p>This demo site is part of the Rodauth repository, so if you want to know how it works, you can <a href="https://github.com/jeremyevans/rodauth/tree/master/demo-site">review the source</a>.</p>
<% end %>
